<html xmlns:th="http://www.thymeleaf.org">
<body>

	<h1>Tablón de anuncios</h1>

	<form action="/" method="post">
		<p>
			<b>Nombre:</b> <input type='text' name='nombre' />
		</p>

		<p>
			<b>Asunto:</b> <input type='text' name='asunto' />
		</p>

		<p>
			<b>Comentario:</b><br />
			<textarea name='comentario' rows='5' cols='40'></textarea>
		</p>

		<input type='submit' name='enviar' value='Enviar' />
	</form>


	<p>
		{{#anuncios}}
		<span>Nombre: {{nombre}}</span><br />
		<span>Asunto: {{asunto}}</span><br />
		<span>Comentario: {{comentario}}</span><br />
		{{/anuncios}}
	</p>


</body>
</html>