<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<p>Nombre: {{nombre}}</p>
	<p>Asunto: {{asunto}}</p>
	<p>Comentario: {{comentario}}</p>
</body>
</html>