<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<p>Nombre: {{anuncio.nombre}}</p>
	<p>Asunto: {{anuncio.asunto}}</p>
	<p>Comentario: {{anuncio.comentario}}</p>
</body>
</html>