<html>
<body>

	<h1>Tablón de anuncios</h1>

	<a href="/nuevoAnuncio.html">Nuevo anuncio</a>

	<p>
		{{#anuncios}}
		<span>Nombre: {{nombre}}</span><br />
		<span>Asunto: {{asunto}}</span><br />
		<a href="/mostrar?id={{id}}">Ver</a><br />
		{{/anuncios}}
	</p>

</body>
</html>